body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-open-sans: "Open Sans";
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-17xl: 36px;
    --font-size-11xl: 30px;
    --font-size-3xs-1: 9.1px;
    --font-size-7xl-2: 26.2px;
    --font-size-5xl: 24px;
    --font-size-mid-9: 17.9px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gold-100: #ffc700;
    --color-gold-200: #ffc107;
    --color-darkslategray: #29303b;
    --color-dodgerblue-100: #2073d4;
    --color-gainsboro-100: #e1e1e1;
    --color-whitesmoke: #f0f0f0;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-3xs: 10px;
    --br-10xs: 3px;
  }
  