body {
    font-family: Open Sans;
}

.nav-item.dropdown.mini-cart-item:hover {
    background: #E1E1E1;
}

/* -------------------------------------- */
#gapKategoriNav {
    align-items: center; display: flex; justify-content: center; gap: 5px;
}
#imgKategoriNav {
    width: 16.739px;height: 16.739px;flex-shrink: 0; padding-bottom: 2px;
}
#imgSemuaKategoriNav {
    width: 16.739px;height: 16.739px;flex-shrink: 0; padding-bottom: 4px;
}
#sizeSearchNav {
    height: 24px;
}
#inputSearchNav {
    background: #E1E1E1; padding-top: 20px; padding-bottom: 20px; border-radius: 2.989px;
}
#imgSearchNav {
    width:20px; padding-top: 14px;
}
#sizeProfileNav {
    border-radius: 100%; background: #E1E1E1;
}
#imgProfileNav {
    position: absolute; left: 6px; bottom: 10px; width: 34.253px;height: 34.253px;flex-shrink: 0;
}

/* -------------------------------------- */
#bannerHeader {
    background: url(img/gedung.png); background-size: 100% 100%;
}
#btnHeader {
    border-radius: 10px; background: #398BF1; border: 0;
}
#sizeSenseiHeader {
    position: absolute; bottom: -16px; left: 200px; width: 354.92;height: 384px;flex-shrink: 0;
}

/* -------------------------------------- */
#sectionContainer {
    display: flex; flex-direction: column; gap: 143px;
}
.parentGroup {
    position: relative;
}
#sizeImgGroup {
    position: static; float: right;
}
    #imgGroup1 {
        left:800px; width: 637.2px;height: 385px;flex-shrink: 0; z-index: 1;
    }
    #imgGroup2 {
        width: 637.2px; height: 385px; flex-shrink: 0; z-index: 1;
    }
#sizeArticleGroup1 {
    position: absolute; top: 55px; right:505px; width: 651px;height: 274px;  flex-shrink: 0;border-radius: 20px; background: #F0F0F0; z-index: 1; padding-right: 200px; padding-top: 40px; padding-left:50px; z-index: -1;
}
    #logoArticle {
        width: 68px;height: 41.407px;flex-shrink: 0;
    }
    #h1Article {
        color: #000;font-size: 36px;font-style: normal;font-weight: 700;line-height: 33.6px; /* 93.333% */
    }
    #pArticle {
        color: #000;font-size: 20px;font-style: normal;font-weight: 400;line-height: normal;
    }
#sizeArticleGroup2 {
    position: absolute; top: 65px; left: 505px; width: 651px; height: 274px; flex-shrink: 0; border-radius: 20px; background: #F0F0F0; z-index: 1; padding-left: 200px; padding-top: 40px; padding-right: 50px; z-index: -1;
}

/* -------------------------------------- */
#sizeSectionPilihan, #sizeSectionTemukanPelatihan {
    background: #2073D4;
}
#gapSectionPilihan {
    display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 165px;
}
#gapImg-TextSectionPilihan {
    display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 24px;
}
    #imgSectionPilihan {
        width: 96.727px;height: 95px;flex-shrink: 0;
    }
    #textSectionPilihan {
        color: #FFF;text-align: center;font-size: 30px;font-style: normal;font-weight: 600;line-height: normal;
    }

/* -------------------------------------- */
#h3SectionMateriUnggulan {
    color: #29303B;font-size: 36px;font-style: normal;font-weight: 700;line-height: 33.6px; /* 93.333% */
}
#pSectionMateriUnggulan {
    color: #29303B;font-family: Open Sans;font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;
}
.positionComponent {
    position:absolute; left: 950px; top: 35px;
}
    #aSectionMateriUnggulan {
        color: #2073D4;font-family: Open Sans;font-size: 24px;font-style: normal;font-weight: 700;line-height: 33.6px; text-decoration: none;
    }
#containerGridMateri {
    position: relative; left: -1.9vw; width: 86vw;
}
#bannerMateri {
    width: 375.306px;height: 226.859px;flex-shrink: 0; padding: 8px;
}

/* -------------------------------------- */
#btnLihatSemuaPelatihan {
    color: #fff; border-radius: 10px;border: 1px solid #FFC107;background: #FFC107;
}
