.home1-child {
  position: absolute;
  top: 4031px;
  left: calc(50% - 723px);
  background-color: #e5e5e5;
  width: 1445px;
  height: 1216px;
  display: none;
}
.home1-item {
  top: 927px;
  left: 94px;
  background-color: var(--color-whitesmoke);
  width: 751px;
  height: 374px;
}
.fpdl-2-icon,
.home1-inner,
.home1-item {
  position: absolute;
  border-radius: var(--br-xl);
}
.home1-inner {
  top: 1557px;
  left: 596px;
  background-color: var(--color-whitesmoke);
  width: 751px;
  height: 374px;
}
.fpdl-2-icon {
  top: 1499px;
  left: 94px;
  width: 737px;
  height: 485px;
  object-fit: cover;
}
.cherry-blossoms-spring-chureit-icon,
.rectangle-div {
  position: absolute;
  top: 115px;
  left: 0;
  width: 1440px;
  height: 615px;
}
.cherry-blossoms-spring-chureit-icon {
  object-fit: cover;
}
.rectangle-div {
  background: linear-gradient(
    259.42deg,
    rgba(0, 0, 0, 0.13),
    rgba(0, 0, 0, 0.64)
  );
  backdrop-filter: blur(4px);
}
.fpdl-1-icon {
  position: absolute;
  top: 246px;
  left: 1002px;
  width: 370.92px;
  height: 484px;
  object-fit: cover;
}
.home1-child1,
.home1-child2 {
  position: absolute;
  top: 38px;
  left: 358px;
  border-radius: 2.99px;
  background-color: var(--color-gainsboro-100);
  width: 120.76px;
  height: 47.83px;
}
.home1-child2 {
  left: 495.5px;
  width: 508.15px;
}
.kategori,
.search {
  position: absolute;
  top: 0;
  left: 23.91px;
  line-height: 28.7px;
}
.search {
  left: 141.09px;
  color: rgba(0, 0, 0, 0.5);
}
.grid-2-icon,
.search-icon {
  position: absolute;
  top: 5.98px;
  left: 0;
  width: 16.74px;
  height: 16.74px;
  object-fit: cover;
}
.search-icon {
  top: 2.39px;
  left: 592.85px;
  width: 25.11px;
  height: 25.11px;
}
.kategori-parent {
  position: absolute;
  top: 47px;
  left: 371.15px;
  width: 617.96px;
  height: 29px;
  text-align: center;
  font-size: 17.93px;
  color: rgba(0, 0, 0, 0.7);
}
.membentuk-keterampilan {
  margin: 0;
}
.membentuk-keterampilan-menguki-container {
  position: absolute;
  top: 233px;
  left: 94px;
  font-size: 60px;
  line-height: 118.68%;
}
.mulai-belajar-hari-container {
  position: absolute;
  top: 404px;
  left: 94px;
  font-size: 22px;
  line-height: 30px;
}
.lihat-materi {
  position: absolute;
  top: calc(50% - 14.5px);
  left: 23px;
  line-height: 30px;
}
.link {
  position: absolute;
  top: calc(50% - 1274.5px);
  left: 94px;
  border-radius: var(--br-3xs);
  background-color: #398bf1;
  width: 213px;
  height: 69px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.group-icon {
  position: absolute;
  top: 476px;
  left: 1110px;
  width: 117px;
  height: 117px;
}
.isolation-mode-icon {
  position: absolute;
  top: 34px;
  left: 1301.37px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  object-fit: cover;
}
.home1-child3,
.home1-child4 {
  position: absolute;
  top: 3263px;
  left: 0;
  background-color: var(--color-dodgerblue-100);
  width: 1440px;
  height: 334px;
}
.home1-child4 {
  top: 2074px;
  height: 348px;
}
.materi-unggulan {
  position: absolute;
  top: 2511px;
  left: 109px;
  font-size: var(--font-size-17xl);
  line-height: 33.6px;
  color: var(--color-darkslategray);
}
.materi-berkualitas-yang,
.semua-materi {
  position: absolute;
  font-size: var(--font-size-5xl);
}
.semua-materi {
  top: 2564px;
  left: 1178px;
  line-height: 33.6px;
  color: var(--color-dodgerblue-100);
}
.materi-berkualitas-yang {
  top: 2565px;
  left: 109px;
  color: var(--color-darkslategray);
}
.group-child {
  position: absolute;
  top: 4.68px;
  left: -154.69px;
  width: 173.71px;
  height: 107.5px;
}
.b,
.vector-parent {
  position: absolute;
  transform-origin: 0 0;
}
.b {
  top: 39.93px;
  left: -149.1px;
  line-height: 28.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145.77px;
  height: 72.43px;
  transform: rotate(-15.04deg);
}
.vector-parent {
  top: 289px;
  left: 1073.19px;
  width: 160.03px;
  height: 89.67px;
  text-align: center;
  font-size: 27.46px;
  color: var(--color-black);
}
.course-3-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 274.33px;
  height: 237.45px;
}
.logo-iso-jepangpng-icon,
.logo-iso-jepangpng-icon1 {
  position: absolute;
  top: calc(50% - 6.99px);
  left: 0;
  width: 14.77px;
  height: 13.98px;
  object-fit: cover;
}
.logo-iso-jepangpng-icon1 {
  left: 14.77px;
  width: 43.83px;
}
.logo-iso-jepangpng-parent {
  position: absolute;
  top: calc(50% - 100.41px);
  left: 24.16px;
  width: 58.61px;
  height: 13.98px;
}
.aisatsu-salam-bahasa {
  position: absolute;
  top: 46.42px;
  left: 25.84px;
  line-height: 106.18%;
  display: flex;
  align-items: center;
  width: 263.2px;
  text-shadow: 0 0.8402199745178223px 2.52px rgba(0, 0, 0, 0.23);
}
.vector-icon {
  position: absolute;
  height: 19.61%;
  width: 5.15%;
  top: 53.87%;
  right: 47.67%;
  bottom: 26.52%;
  left: 47.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.carbonplay-outline-icon,
.fluentperson-16-regular-icon {
  position: absolute;
  top: 24.65px;
  left: 0;
  width: 11.93px;
  height: 11.93px;
  overflow: hidden;
}
.carbonplay-outline-icon {
  top: 1.33px;
}
.group-child1,
.group-inner,
.group-item {
  position: absolute;
  height: 99.99%;
  width: 23.08%;
  top: 0;
  right: 0;
  bottom: 0.01%;
  left: 76.93%;
  background-color: var(--color-white);
}
.group-child1,
.group-inner {
  height: 75%;
  top: 25%;
  right: 38.46%;
  bottom: 0;
  left: 38.46%;
}
.group-child1 {
  height: 50%;
  top: 50%;
  right: 76.92%;
  left: 0;
}
.rectangle-parent {
  position: absolute;
  height: 21.55%;
  width: 4.94%;
  top: 2.76%;
  right: 47.79%;
  bottom: 75.69%;
  left: 47.26%;
}
.by-rizki-nazan,
.kelas {
  position: absolute;
  top: 0;
  left: 15.9px;
  line-height: 14.53px;
  font-weight: 600;
}
.by-rizki-nazan {
  top: 23.98px;
  left: 15.87px;
  line-height: 11.93px;
  display: flex;
  align-items: center;
  width: 58.36px;
}
.in-aisatsu-dan,
.pemula {
  position: absolute;
  top: 0;
  left: 94.9px;
  line-height: 14.53px;
  font-weight: 600;
}
.in-aisatsu-dan {
  top: 23.98px;
  left: 95px;
  line-height: 11.93px;
  display: flex;
  align-items: center;
  width: 74.93px;
}
.vector-group {
  position: absolute;
  height: 21.15%;
  width: 42.14%;
  top: 57.31%;
  right: 51.88%;
  bottom: 21.54%;
  left: 5.99%;
  font-size: 9.08px;
}
.image-299-icon {
  position: absolute;
  top: 15.75px;
  left: 238.2px;
  width: 157.47px;
  height: 154.39px;
  object-fit: cover;
}
.cheerful-businesswoman-office-icon {
  position: absolute;
  top: 21.01px;
  left: 228.12px;
  width: 151.66px;
  height: 205.85px;
  object-fit: cover;
}
.course-3,
.course-3-wrapper {
  position: absolute;
  width: 403.31px;
  height: 226.86px;
}
.course-3 {
  top: 0;
  left: 0;
  background-color: #806dcb;
  overflow: hidden;
}
.course-3-wrapper {
  top: 2644px;
  left: 109px;
  font-size: 26.19px;
}
.streamlinephone-contact-phone {
  position: absolute;
  top: 150.82px;
  left: 17.43px;
  width: 7.35px;
  height: 7.35px;
  overflow: hidden;
}
.image-298-icon {
  position: absolute;
  top: 0;
  left: 278.74px;
  width: 124.56px;
  height: 62.81px;
  object-fit: cover;
}
.vector-icon1,
.woman-wearing-beautiful-japane-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.woman-wearing-beautiful-japane-icon {
  height: 93.24%;
  width: 39.22%;
  top: 6.76%;
  right: 1.72%;
  bottom: 0;
  left: 59.06%;
  object-fit: cover;
}
.vector-icon1 {
  height: 19.61%;
  width: 5.12%;
  top: 53.87%;
  right: 47.96%;
  bottom: 26.52%;
  left: 46.92%;
}
.group-child2 {
  position: absolute;
  height: 99.99%;
  width: 23.08%;
  top: 0;
  right: 0;
  bottom: 0.01%;
  left: 76.92%;
  background-color: var(--color-white);
}
.rectangle-group {
  position: absolute;
  height: 21.55%;
  width: 4.91%;
  top: 2.76%;
  right: 48.09%;
  bottom: 75.69%;
  left: 47%;
}
.vector-container {
  position: absolute;
  height: 21.15%;
  width: 42.37%;
  top: 57.31%;
  right: 51.64%;
  bottom: 21.54%;
  left: 5.99%;
  font-size: 9.08px;
}
.course-1,
.course-1-wrapper {
  position: absolute;
  width: 403.31px;
  height: 226.86px;
}
.course-1 {
  top: 0;
  left: 0;
  background-color: #dc5964;
  overflow: hidden;
}
.course-1-wrapper {
  top: 2644px;
  left: 526.35px;
  font-size: 26.19px;
}
.fluent-emojimap-of-japan-icon {
  position: absolute;
  top: 0;
  left: 176.45px;
  width: 226.86px;
  height: 226.86px;
  overflow: hidden;
}
.lifestyle-business-people-usin-icon {
  position: absolute;
  top: 30.25px;
  left: 192.83px;
  width: 201.23px;
  height: 196.61px;
  object-fit: cover;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 3.08px;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  box-shadow: 0 0.6248992681503296px 1.41px rgba(0, 0, 0, 0.24);
  width: 16.59px;
  height: 16.59px;
}
.b1 {
  position: absolute;
  top: 14.71%;
  left: 0;
  line-height: 11.75px;
  transform: rotate(-0.56deg);
  transform-origin: 0 0;
}
.ellipse-parent {
  position: absolute;
  top: 117.84px;
  left: 248.56px;
  width: 19.68px;
  height: 16.59px;
}
.lucidejapanese-yen {
  position: absolute;
  top: 117.66px;
  left: 261.09px;
  width: 13.43px;
  height: 13.43px;
  overflow: hidden;
}
.pelajaran-bahasa-jepang {
  position: absolute;
  top: 46.42px;
  left: 25.84px;
  font-size: 26.19px;
  line-height: 106.18%;
  display: flex;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 263.2px;
  text-shadow: 0 0.8402199745178223px 2.52px rgba(0, 0, 0, 0.23);
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 3.25px;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  box-shadow: 0 1.2168700695037842px 2.74px rgba(0, 0, 0, 0.24);
  width: 26.47px;
  height: 26.47px;
}
.div {
  position: absolute;
  top: 5.11px;
  left: 0;
  line-height: 16.5px;
  font-weight: 600;
  transform: rotate(-0.56deg);
  transform-origin: 0 0;
}
.ellipse-group {
  position: absolute;
  top: 132.33px;
  left: 261.21px;
  width: 29.72px;
  height: 26.47px;
  font-size: 14.86px;
}
.group-child7 {
  position: absolute;
  height: 75%;
  width: 23.08%;
  top: 25%;
  right: 38.47%;
  bottom: 0;
  left: 38.46%;
  background-color: var(--color-white);
}
.group-div {
  position: absolute;
  height: 21.15%;
  width: 42.14%;
  top: 57.31%;
  right: 51.88%;
  bottom: 21.54%;
  left: 5.99%;
  text-align: left;
  font-size: 9.08px;
  color: var(--color-white);
}
.course-2,
.course-2-wrapper {
  position: absolute;
  width: 403.31px;
  height: 226.86px;
}
.course-2 {
  top: 0;
  left: 0;
  background-color: #b654a3;
  overflow: hidden;
}
.course-2-wrapper {
  top: 2644px;
  left: 943.69px;
  text-align: center;
  font-size: 10.58px;
  color: var(--color-black);
}
.course-4-child,
.vector-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 274.12px;
  height: 237.27px;
}
.vector-icon3 {
  height: 72.41%;
  width: 40.73%;
  top: 18.61%;
  right: 3.96%;
  bottom: 8.98%;
  left: 55.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo-iso-jepangpng-icon6,
.logo-iso-jepangpng-icon7 {
  position: absolute;
  top: calc(50% - 6.98px);
  left: 0;
  width: 14.76px;
  height: 13.97px;
  object-fit: cover;
}
.logo-iso-jepangpng-icon7 {
  left: 14.76px;
  width: 43.8px;
}
.logo-iso-jepangpng-parent1 {
  position: absolute;
  top: calc(50% - 100.33px);
  left: 24.14px;
  width: 58.56px;
  height: 13.97px;
}
.judul-materi-2-container1 {
  line-break: anywhere;
  width: 100%;
}
.judul-materi-2-container {
  position: absolute;
  top: 46.39px;
  left: 25.82px;
  line-height: 106.18%;
  display: flex;
  align-items: center;
  width: 263px;
  text-shadow: 0 0.8395832777023315px 2.52px rgba(0, 0, 0, 0.23);
}
.people-working-elegant-cozy-of-icon {
  position: absolute;
  top: 0;
  left: 210.11px;
  width: 173.16px;
  height: 226.69px;
  object-fit: cover;
}
.group-icon1,
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 5.19%;
  width: 10.75%;
  top: 31.63%;
  right: 35.67%;
  bottom: 63.18%;
  left: 53.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon4,
.vector-icon5 {
  height: 9.8%;
  width: 5.51%;
  top: 35.43%;
  right: 3.93%;
  bottom: 54.77%;
  left: 90.56%;
}
.vector-icon5 {
  height: 19.56%;
  width: 4.63%;
  top: 53.72%;
  right: 52.95%;
  bottom: 26.72%;
  left: 42.42%;
}
.carbonplay-outline-icon3,
.fluentperson-16-regular-icon3 {
  position: absolute;
  top: 24.63px;
  left: 0;
  width: 11.92px;
  height: 11.92px;
  overflow: hidden;
}
.carbonplay-outline-icon3 {
  top: 1.32px;
}
.rectangle-parent1 {
  position: absolute;
  height: 21.49%;
  width: 4.44%;
  top: 2.75%;
  right: 53.06%;
  bottom: 75.76%;
  left: 42.49%;
}
.by-hari-hartano1,
.kelas3 {
  position: absolute;
  top: 0;
  left: 15.89px;
  line-height: 14.52px;
  font-weight: 600;
}
.by-hari-hartano1 {
  top: 24.07px;
  left: 15.86px;
  line-height: 11.92px;
  display: flex;
  align-items: center;
  width: 58.31px;
}
.in-kosakata-pola1,
.pemula2 {
  position: absolute;
  top: 0;
  left: 94.82px;
  line-height: 14.52px;
  font-weight: 600;
}
.in-kosakata-pola1 {
  top: 24.07px;
  left: 94.86px;
  line-height: 11.92px;
  display: flex;
  align-items: center;
  width: 94px;
}
.vector-parent1 {
  position: absolute;
  height: 21.21%;
  width: 46.86%;
  top: 57.31%;
  right: 47.15%;
  bottom: 21.48%;
  left: 5.99%;
  font-size: 9.07px;
}
.course-4,
.course-4-wrapper {
  position: absolute;
  width: 403px;
  height: 226.69px;
}
.course-4 {
  top: 0;
  left: 0;
  background-color: #e8c264;
  overflow: hidden;
}
.course-4-wrapper {
  top: 2904px;
  left: 109px;
  font-size: 26.17px;
}
.fxemojijapanflag-icon,
.vector-icon6 {
  position: absolute;
  top: 0;
  left: 205.07px;
  width: 185.76px;
  height: 185.76px;
  overflow: hidden;
}
.vector-icon6 {
  height: 19.56%;
  width: 4.73%;
  top: 53.72%;
  right: 51.93%;
  bottom: 26.72%;
  left: 43.34%;
  max-width: 100%;
  max-height: 100%;
}
.rectangle-parent2 {
  position: absolute;
  height: 21.49%;
  width: 4.54%;
  top: 2.75%;
  right: 52.05%;
  bottom: 75.76%;
  left: 43.41%;
}
.in-kosakata-pola2 {
  position: absolute;
  top: 24.07px;
  left: 94.86px;
  line-height: 11.92px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 90px;
}
.vector-parent2 {
  position: absolute;
  height: 21.21%;
  width: 45.87%;
  top: 57.31%;
  right: 48.14%;
  bottom: 21.48%;
  left: 5.99%;
}
.judul-materi-2-container2 {
  position: absolute;
  top: 46.39px;
  left: 25.82px;
  font-size: 26.17px;
  line-height: 106.18%;
  display: flex;
  align-items: center;
  width: 263px;
  text-shadow: 0 0.8395832777023315px 2.52px rgba(0, 0, 0, 0.23);
}
.front-view-smiley-student-hold-icon {
  position: absolute;
  top: 0;
  left: 183.24px;
  width: 229.42px;
  height: 343.81px;
  object-fit: cover;
}
.course-5,
.course-5-wrapper {
  position: absolute;
  width: 403px;
  height: 226.69px;
}
.course-5 {
  top: 0;
  left: 0;
  background-color: #6192d9;
  overflow: hidden;
}
.course-5-wrapper {
  top: 2904px;
  left: 526px;
  font-size: 9.07px;
}
.paket-1-bab-container {
  position: absolute;
  top: 46.39px;
  left: 25.82px;
  line-height: 106.18%;
  text-shadow: 0 0.8395832777023315px 2.52px rgba(0, 0, 0, 0.23);
}
.vector-icon7 {
  position: absolute;
  height: 19.56%;
  width: 4.56%;
  top: 53.72%;
  right: 53.68%;
  bottom: 26.72%;
  left: 41.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child15 {
  position: absolute;
  height: 99.99%;
  width: 23.08%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 76.92%;
  background-color: var(--color-white);
}
.rectangle-parent3 {
  position: absolute;
  height: 21.49%;
  width: 4.37%;
  top: 2.75%;
  right: 53.8%;
  bottom: 75.76%;
  left: 41.83%;
}
.in-kosakata-pola3 {
  position: absolute;
  top: 24.07px;
  left: 94.86px;
  line-height: 11.92px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 97px;
}
.vector-parent3 {
  position: absolute;
  height: 21.21%;
  width: 47.61%;
  top: 57.31%;
  right: 46.4%;
  bottom: 21.48%;
  left: 5.99%;
  font-size: 9.07px;
}
.smiley-man-holding-project-doc-icon {
  position: absolute;
  top: 0;
  left: 232.14px;
  width: 163.51px;
  height: 232.14px;
  object-fit: cover;
}
.rectangle-icon {
  position: absolute;
  top: 2.27px;
  left: -74.95px;
  width: 84.17px;
  height: 52.09px;
}
.b2,
.vector-parent4 {
  position: absolute;
  transform-origin: 0 0;
}
.b2 {
  top: 19.35px;
  left: -72.25px;
  line-height: 13.86px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70.63px;
  height: 35.1px;
  transform: rotate(-15.04deg);
}
.vector-parent4 {
  top: 13.01px;
  left: 265.78px;
  width: 77.54px;
  height: 43.45px;
  text-align: center;
  font-size: 13.31px;
  color: var(--color-black);
}
.course-6,
.course-6-wrapper {
  position: absolute;
  width: 403px;
  height: 226.69px;
}
.course-6 {
  top: 0;
  left: 0;
  background-color: #f69070;
  overflow: hidden;
}
.course-6-wrapper {
  top: 2904px;
  left: 944px;
  font-size: 26.17px;
}
.heading-2 {
  position: absolute;
  top: -13px;
  left: calc(50% - 328.9px);
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 600;
}
.heading-4 {
  position: absolute;
  top: 42.39px;
  left: calc(50% - 244px);
  line-height: 32.4px;
}
.lihat-semua-pelatihan {
  position: relative;
  line-height: 30px;
  font-weight: 600;
}
.link1 {
  position: absolute;
  top: calc(50% + 41.61px);
  left: calc(50% - 148px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gold-200);
  border: 1px solid var(--color-gold-200);
  box-sizing: border-box;
  width: 297px;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px 17px;
}
.divcol-md-12 {
  position: absolute;
  height: calc(100% - 3446.22px);
  top: 3355px;
  bottom: 91.22px;
  left: calc(50% - 570px);
  width: 1140px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.logo-iso-jepangpng-icon12 {
  position: absolute;
  top: calc(50% - 26px);
  left: 0;
  width: 225px;
  height: 52px;
  object-fit: cover;
}
.logo-iso-jepangpng-wrapper {
  position: absolute;
  top: calc(50% - 1762.5px);
  left: 83px;
  width: 225px;
  height: 52px;
}
.logo-iso-jepangpng-icon13 {
  position: absolute;
  top: calc(50% - 20.7px);
  left: 0;
  width: 43px;
  height: 41.41px;
  object-fit: cover;
}
.logo-iso-jepangpng-frame,
.logo-iso-jepangpng-wrapper1 {
  position: absolute;
  top: calc(50% - 777.5px);
  left: 142px;
  width: 43px;
  height: 41.41px;
}
.logo-iso-jepangpng-wrapper1 {
  top: calc(50% - 147.5px);
  left: 875px;
}
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 2.46%;
  width: 5.58%;
  top: 42.17%;
  right: 85.11%;
  bottom: 55.37%;
  left: 9.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon9 {
  height: 2.62%;
  width: 6.1%;
  top: 45.31%;
  right: 43.69%;
  bottom: 52.07%;
  left: 50.2%;
}
.heading-3,
.heading-31,
.heading-32,
.percakapan {
  position: absolute;
  top: 2308px;
  left: calc(50% - 545px);
  font-weight: 600;
  text-align: center;
}
.heading-3,
.heading-31,
.heading-32 {
  left: calc(50% - 176px);
}
.heading-31,
.heading-32 {
  left: calc(50% + 113px);
}
.heading-32 {
  left: calc(50% + 404px);
}
.dengan-kelas-yang-container,
.iso-private {
  position: absolute;
  left: 142px;
  color: var(--color-black);
}
.iso-private {
  top: 1070px;
  font-size: var(--font-size-17xl);
  line-height: 33.6px;
}
.dengan-kelas-yang-container {
  top: 1126px;
  font-size: var(--font-size-xl);
}
.home1-child5 {
  position: absolute;
  top: 1499px;
  left: 94px;
  border-radius: var(--br-xl);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(0, 0, 0, 0.12),
    rgba(0, 0, 0, 0.5)
  );
  width: 737px;
  height: 485px;
}
.dengan-kelas-yang-container1,
.isonesia-club {
  position: absolute;
  left: 875px;
  color: var(--color-black);
}
.isonesia-club {
  top: 1700px;
  font-size: var(--font-size-17xl);
  line-height: 33.6px;
}
.dengan-kelas-yang-container1 {
  top: 1756px;
  font-size: var(--font-size-xl);
}
.home1-child6 {
  position: absolute;
  top: 1693px;
  left: 414px;
  width: 97px;
  height: 97px;
}
.fpdl-1-icon1,
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  height: 485px;
}
.fpdl-1-icon1 {
  border-radius: 24.25px;
  width: 737.2px;
  object-fit: cover;
}
.group-child18 {
  border-radius: var(--br-xl);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(0, 0, 0, 0.12),
    rgba(0, 0, 0, 0.5)
  );
  width: 737px;
}
.fpdl-1-parent,
.home1-child7 {
  position: absolute;
  top: 871px;
  left: 610px;
  width: 737.2px;
  height: 485px;
}
.home1-child7 {
  top: 1065px;
  left: 930px;
  width: 97px;
  height: 97px;
}
.home1-child10,
.home1-child11,
.home1-child8,
.home1-child9 {
  position: absolute;
  height: 3.48%;
  width: 8.8%;
  top: 60.02%;
  right: 77.44%;
  bottom: 36.5%;
  left: 13.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home1-child10,
.home1-child11,
.home1-child9 {
  width: 8.35%;
  right: 55.12%;
  left: 36.53%;
}
.home1-child10,
.home1-child11 {
  height: 3.22%;
  width: 8.33%;
  top: 60.16%;
  right: 12.92%;
  bottom: 36.61%;
  left: 78.75%;
}
.home1-child11 {
  width: 7.11%;
  top: 60.27%;
  right: 35.18%;
  bottom: 36.5%;
  left: 57.71%;
}
.home1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3597px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
